@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@800&family=Honk&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans", sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    cursor: default;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    min-height: 100vh;
}

:root {
    --nav-bgcolor: black;
    --primary-color: rgb(255, 193, 7);
    --footer-bgcolor: rgb(17, 17, 17);
}

.main-view {
    position: relative;
    width: 100%;
}

.main-view::before {
    content: '';
    background: url("../../assets/images/bg_home_page.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: -20px;
    left: 0;
    filter: blur(8px) opacity(0.25) saturate(4);
}

.headRow {
    height: 75%;
    width: 100%;
    padding: 2% 10% 4% 8%;
    position: relative;
    display: flex;
}

.divider {
    height: 3px;
    width: 92%;
    margin: auto;
    background-color: white;
    border-radius: 100%;
}

.article {
    height: initial;
    z-index: 0;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.article .heading {
    color: white;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
    font-size: 4rem;
}

.article .heading span {
    font-weight: 900;
    color: var(--primary-color);
}

.article .content {
    flex: 1;
    overflow-y: auto;
    color: rgb(210, 210, 210);
    font-family: "Noticia Text", serif;
    font-size: large;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.article .content .actionBtn {
    border-radius: 1rem;
    background-color: var(--primary-color);
    margin: 60px auto 0 0;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    color: black;
}

.article .content .actionBtn:hover,
.lastRow .tabs:hover {
    color: black;
    cursor: pointer;
    transform: scale(0.95)
}

.secondRow {
    height: fit-content;
    width: 100%;
    padding: 4% 8% 5% 10%;
    position: relative;
    display: flex;
}

.secondRow .article {
    height: initial;
    display: flex;
    flex-direction: column;
}

.secondRow .article .heading {
    display: flex;
    align-items: center;
    justify-content: end;
}


.lastRow {
    background-color: var(--nav-bgcolor);
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.lastRow .tabs {
    background-color: var(--primary-color);
    border-radius: 0.2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 4rem;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    color: black;
}


/* *RESPONSIVE DESIGN */
@media (max-width: 1100px) {
    .lastRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .lastRow .tabs {
        margin: 1rem 2.5rem;
        padding: 0.5rem;
    }
}

@media (max-width: 650px) {
    .headRow {
        padding: 1rem;
    }

    .secondRow {
        padding: 1rem;
    }

    .article .heading {
        font-size: 2.25rem;
    }

    .article .heading span {
        font-weight: 900;
    }

    .article .content {
        font-size: 0.9rem;
    }

    .lastRow {
        display: flex;
        flex-direction: column;
    }

    .lastRow .tabs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 2.5rem;
        padding: 0.5rem;
    }
}